* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    box-sizing: border-box;
}

input,
select,
button {
    outline: none;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffffff;
    color: black;
}

img {
    display:block;
    height: auto;
    max-width: 100%
}

ul {
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 400;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

p {
    margin-bottom: 20px;
    line-height: 1.4;
}

a {
    color: #000000;
    transition: .25s ease-in-out all;
    -webkit-transition: .25s ease-in-out all;
    -moz-transition: .25s ease-in-out all;
    -ms-transition: .25s ease-in-out all;
    -o-transition: .25s ease-in-out all;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #000000;
    text-decoration: none;
}
/*button*/

.p-btn {
    background-color: #f3a078;
  color: #ffffff;
   font-size: 14px;
    padding: 15px 40px;
    transition: 0.3s;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    text-align: center;
    position: relative;
  z-index: 1;
  border: 1px solid transparent;
}
.p-btn:before {
   content: "";
  position: absolute;
  background: #ffffff;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.25s ease-in;
}
.p-btn:hover{
    border:1px solid #f3a078;
  color: #000000;
}
.p-btn:hover:before {
  right: 0;
}
.s-btn{
    background-color: #000000;
  color: #ffffff;
}
.s-btn:hover{
     border:1px solid #000000;
  color: #000000;
}
.p-btn span {
    display: inline-block;
    vertical-align: middle;
}
.p-btn span  svg.btn-svg {
    width: 15px;
    fill: #ffffff;
    height: 15px;
}
.p-btn:hover svg.btn-svg {
   fill:#000000;
}
.container {
    max-width: 1560px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}
.title-block {
   text-align: center;
   margin: 10px 0 20px;
}
h5.pre-heading {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #f3a078;
    letter-spacing: 1.28px;
}
h2.section-title{
    text-transform: uppercase;
    position: relative;
    padding: 10px 0 15px;
    letter-spacing: 3px;
        color: #4d4d4d;
}
.section-title:after {
    position: absolute;
    content: '';
    width: 80px;
    height: 13px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-image: url(../images/wavy-shape.png);
    background-repeat: no-repeat;
}
/*global css end*/

/*header*/
.site-header{
    padding: 20px 0;
}
.site-header .header-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-wrapper .logo{
   flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.header-wrapper .logo img {
    max-width: 220px;
}
.header-wrapper .cta-icon{
flex: 1;
    display: flex;
    justify-content: flex-end;
}
.cta-icon > ul {
    display: flex;
     align-items: center; 
}
.cta-icon > ul > li {
    padding: 0 10px;
    display: inherit;
}
.cta-icon   svg.cta-svg {
    width: 24px;
    height: 24px;
    display: block;
}
.header-wrapper .navi{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.navigation ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.navigation  ul > li {
    position: relative;
    padding: 0 20px;
}
.navigation ul > li > a {
   font-weight: 600;
   position: relative;
}
.navigation ul > li > a:after {
    content: '';
    position: absolute;
    margin: auto;
    height: 3px;
    width: 0px;
    background: inherit;
    transition: all 0.4s linear;
    bottom: -5px;
    left: 0;
}
.navigation ul > li > a:hover:after {
    width: 100%;
    background-color: #f3a078;
}
li.has-child:after {
    position: absolute;
    content: '';
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(
45deg
) translateY(-50%);
    -webkit-transform: rotate(
45deg
) translateY(-50%);
    right: 0;
    top: 50%;
}
.humburger {
    display: none;
}
/*banner*/
.site-banner{
    height: 100vh;
    max-height: 600px;
}
.site-banner .slick-list.draggable{
    height: 100%;
}
.site-banner .slick-track {
    height: 100%;
}
.site-banner .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
     font-size: 0; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
}
.site-banner button.slick-prev {
    left: 50px;
}
.site-banner button.slick-prev:before {
    content: '';
    height: 9px;
    width: 9px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(
135deg
);
    -webkit-transform: rotate(
135deg
);
}
.site-banner button.slick-next.slick-arrow {
    right: 50px;
}
 .site-banner button.slick-next:before {
    content: '';
    height: 9px;
    width: 9px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.site-banner ul.slick-dots {
   position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex !important;
    transform: translateX(-50%);
}
.site-banner ul.slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: rgb(255 255 255 / 50%);
    cursor: pointer;
}
.site-banner ul.slick-dots li.slick-active button{
     font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: rgb(255 255 255 / 100%);
    cursor: pointer;
}
.site-banner-wrapper {
    background-position: center;
    background-image: url(../images/banner-img.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    align-items: center;
}
.content {
    margin: 0 auto 0 100px;
}
/** Text Animation **/


@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.slick-active .content {
  -webkit-animation-name: fadeInUpSD;
          animation-name: fadeInUpSD;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 1;
}

/* Text Animation End **/

.content h5.pre-heading {
    color: #ffffff;
    margin-bottom: 10px;
}
.banner-heading{
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.2;
}
.banner-heading span {
    color: #fbe78e;
    display: block;
}
.content a.p-btn {
    margin-top: 20px;
}
.feature{
    background-color: #f8f8f8;
   padding: 25px 0;
}
.feature-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
}
.feature-card {
    max-width: 20%;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    position: relative;
}
.feature-card:not(:last-child) {
    border-right: 1px solid #dddddd;
}
.feature-img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    filter: invert(90%) sepia(11%) saturate(5517%) hue-rotate(308deg) brightness(101%) contrast(91%);
}
.card-content {
    margin-top: 15px;
}
.card-content > span {
    font-weight: 600;
        color: #4f4f4f;
}
.card-content > p {
    margin:0;
}
/*product-slider*/
section.creator {
    padding: 40px 0;
}
/*This section is global*/
.creator-wrapper {
    display: flex;
        padding-top: 40px;
}
.creator-content {
    padding-right: 40px;
    max-width: 25%;
}     
.creator-content h2.section-title {
    text-align: left;
}
.creator-content .section-title:after {
    left: 0;
     transform: translateX(0); 
}
.product-slider.slick-initialized.slick-slider {
    max-width: 75%;
}   
.slick-track{
    display:    flex;
}
.product-card {
    margin: 0 10px;
    padding: 30px;
    border: 1px solid #dddddd;
    max-width: 33.33%;
    height:inherit;
}
.product-card:hover .product-img img{
    transform: scale(1.5);
    transition: all 0.3s;
}
.product-img {
    max-width: 460px;
    border-bottom: 1px solid #dddddd;
    position: relative;
    overflow: hidden;
}
.offer-tag {
    position: absolute;
    background-color: #f3a078;
    color: #ffffff;
    padding: 5px 10px;
    font-weight: 500;
    bottom: 0;
}
.product-discription {
    padding: 25px 0;
}
h3.small-title {
    color: #717084;
} 
.options {
    padding-top: 25px;
}
.card-text {
    position: relative;
    height: 245px;
}
.options {
    padding-top: 25px;
    position: absolute;
    bottom: 0;
}
span.checked-price {
    color: #9e9e9e;
    margin-right: 5px;
    font-size: 14px;
}
span.price {
    display: inline-block;
    color: #f3a078;
    margin: 10px 0;
}
.options a.p-btn {
    width: 100%;
}   
.content-wrapper {
    position: relative;
    padding-bottom: 50px;
}
.content-wrapper .slick-arrow {
    position: absolute;
    bottom: 0;
     font-size: 0; 
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
}
.content-wrapper button.slick-next:hover, .content-wrapper button.slick-prev:hover {
    transition: all 0.2s linear;
    background-color:#f3a078;
}
.content-wrapper button.slick-prev:hover:before, .content-wrapper button.slick-next:hover:before {
        border-color: #ffffff;
        transition: all 0.2s linear;
}
.content-wrapper button.slick-prev {
    left: 0;
    border: 3px solid #f3a078;
}
.content-wrapper button.slick-prev:before {
    content: '';
    height: 3px;
    width: 3px;
    border: solid #f3a078;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate( 135deg );
    -webkit-transform: rotate( 135deg);
}
.content-wrapper button.slick-next{
    left: 20px;
    margin-left: 50px;
    border: 3px solid #f3a078;
}
.content-wrapper button.slick-next:before {
    content: '';
    height: 3px;
    width: 3px;
    border: solid #f3a078;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/*fav-section*/
section.fav {
    padding: 40px 0;
}
.fav-wrapper{
display: -ms-grid;
display: grid;
-ms-grid-columns: (1fr)[2];
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap:20px;
} 
.fav-card {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 30px;
}
.fav-card:before {
   content: '';
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 45px);
    z-index: -1;
    top: 45px;
    left: 50px;
}
.child-1:before{
    background-color: #fbe88a;
}
.child-2:before{
    background-color: #a5c5da;
}
.child-3:before{
    background-color: #e3cdda;
}
.child-4:before{
    background-color: #ffe5ca;
}
.fav-card .title-block {
    line-height: 1.2;
    display: inline-block;
    text-align: left;
    position:   relative;
}
.fav-card .title-block:after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 20px);
    background-color: #ffffff;
    z-index: -1;
    top: 30px;
    right: 15px;
    opacity: 0.4;
}
.fav-card .title-block h3 {
    text-transform: capitalize;
    font-size: 46px;
}
.fav-card .title-block h4 {
    margin-left:30px ;
    font-size: 28px;
}
.fav-img {
    position: relative;
    padding: 0 15px 40px 0;
}
.fav-img:after {
    content: '';
    position: absolute;
    width: 80%;
    height: 20px;
    background-color: rgb(0 0 0 / 30%);
    border-radius: 50%;
    filter: blur(10px);
    bottom: 0;
    left: calc(100% - 100px);
}
.fav-content {
    max-width: 560px;
    padding-left: 15px;
}
.fav-content p {
    font-weight: 600;
    font-size: 20px;
    margin: 25px 0;
}
.card-btn {
    margin-top: 25px;
    text-align: right;
}
/*.collection*/
section.collection {
    padding: 40px 0;
}
.category-card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.category-card {
    max-width: 25%;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.category-card-img a{
    display: block;
}
.category-card-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
/*bestsellers*/
.bestseller {
    padding: 40px 0;
}
.bestseller .product-slider.slick-initialized.slick-slider {
    padding: 50px 0;
    max-width: 100%;
}
.product-slider2{
    padding: 0 20px;
    margin: 40px 0;
}
.product-slider2 .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
     font-size: 0; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
}
.product-slider2 button.slick-prev {
    left: 0;
}
.product-slider2 button.slick-prev:before {
    content: '';
    height: 9px;
    width: 9px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(
135deg
);
    -webkit-transform: rotate(
135deg
);
}
.product-slider2 button.slick-next.slick-arrow {
    right: 0;
}
.product-slider2 button.slick-next:before {
    content: '';
    height: 9px;
    width: 9px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.slider-btn {
    text-align: center;
}

/*pen-sectiom*/
section.pen {
    padding: 60px 0;
}
.pen-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pen-img {
    max-width: 50%;
    width: 100%;
    margin:0 15px;
}
.pen-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.pen-content {
    text-align: center  ;
    max-width: 50%;
    width: 100%;
    margin:0 15px;
}
.pen-content a.p-btn {
    padding: 15px 25px;
}
/*news-letter*/
.sign-up {
    background-image: url('../images/sign-banner.jpg');
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sign-up-wrapper {
    
}
.sign-up-content-content {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 30px 30px;
    background-color: rgb(255 255 255 / 60%);
}
.sign-up .title-block {
    margin: 0px 0 20px;
}
.sign-up .title-block h2{
        padding-top:    0;
}
.sign-up-card {
    max-width: 50%;
    margin: 0 auto;
}
.sign-up-card p{
    margin-bottom:  30px;
}
p.bold-paragraph {
    font-size: 20px;
    font-weight: 600;
}


/*news-letter form global*/
 .form-wrapper {
    max-width: 100%;
    margin: 0 auto;
}
 .form-wrapper .field-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}
.form-wrapper .field-wrapper .input-wrapper {
    flex: 1;
    margin-right: 10px;
}
input.user-email {
    border: 1px solid #a1a6a4;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 15px 13px;
    color: #000000;
    opacity: 1;
}
.field-wrapper .p-btn {
    cursor: pointer;
    padding: 15px;
}

/*fan-section*/
section.fan {
    background-color: #f9f8f6;
    padding: 50px 0;
}
.testimonial-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
} 
p.quote {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}
.testimonial-card {
    max-width: calc(33.33% - 20px);
    display: flex;
    padding: 30px;
    background-color: #ffffff;
    margin: 10px;
}
.testimonial-card:nth-last-child(-n+2){
        max-width: calc(50% - 20px);
}
.testimonnial-img {
    width: 60px;
    height: 60px;
}
.testimonnial-img img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
}
.testimonnial-content {
    flex: 1;
    margin-left: 20px;  
}
.testimonnial-content p {
    font-size: 24px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 500;
}
.user-detail {
    color: #272542;
}
.user-detail span{
    display: block;
}
span.name {
    font-weight: 700;
}
/*logos*/
.brand-logos-wrapper {
    padding: 50px 0;
}
.logos-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo-img {
    max-width: 12.5%;
    text-align: center;
    padding: 0 15px;
}
.photos-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
}
.img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/*vip-list*/
section.vip-list {
    padding: 40px 0;
    background-color: #f1e7e5;
}
.vip-list-wrapper .title-block {
  margin:0 0 10px;
}
.vip-list-wrapper .title-block h2.section-title {
    font-size: 26px;
    letter-spacing: 0;
    padding: 0;
}
.vip-list-wrapper .title-block .section-title:after {
    display: none;
}
.vip-list-content-wrapper {
    display: flex;
}
.vip-list-content {
    max-width: 33.33%;
    width: 100%;
    padding: 0 15px;
}
.vip-logo {
    max-width: 185px;
}
.vip-list-content .form-wrapper {
    max-width: 90%;
}
.social ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}
.social ul li {
    padding: 0 10px;
}
.social .social-icon{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    fill: #ffffff;
    background-color: #f3a078;
}

footer.site-footer {
    padding: 60px 0 40px ;
    background-color: #f1ebeb;
}
.site-footer-wrapper {
    display: flex;
    justify-content: space-between;
}
.footer-content-block {
    max-width: 25%;
    width: 100%;
    padding: 0 20px;
}
h5.footer-title {
    padding: 10px 0;
    position: relative;
    font-weight: 600;
}
.footer-content-block ul li {
    margin: 5px 0;
}
.footer-content-block ul li a {
    font-weight: 500;
}
.connect ul li  {
   margin: 0 0 10px;
}
.connect ul li a {
    display: flex;
    align-items: center;
}
span.connect-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.copy-right {
    color: #f3a078;
}
.copy-right a{
    margin: 0 10px;
    color: #f3a078;
}
.credit {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.credit .payment .payment-icon ul {
    display: flex;
    align-items: center;
    padding:0 5px;
    flex-wrap: wrap;
}
.credit .payment .payment-icon ul li {
    padding:0 5px;
}
/*REsponsive*/

@media only screen and (max-width:1599px) {
   
}
@media only screen and (max-width:1365px) {
    section.creator {
    padding: 40px 0;
}
section.fav {   
    padding: 40px 0;
}
.fav-card:before {
    height: calc(100% - 35px);
    top: 35px;
}
section.collection {
    padding: 40px 0;
}
   }
@media only screen and (max-width:1199px) {
    .navigation > ul > li {
    padding: 0 10px;
}
section.creator {
    padding: 40px 0;
}
.creator-content {
     padding-right: 0; 
}
.fav-card:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.fav-card {
    padding: 10px;
}
.category-card {
    padding: 10px;
}
.sign-up-card {
    max-width: 70%;
}
.testimonial-wrapper {
     display: block;  
}
.testimonial-card {
    display: flex;
    padding: 30px 10px;
    margin: 10px;
    height: inherit;
}
.testimonnial-content {
    flex: 1;
    margin-left: 20px;
    margin-top: 20PX;
}
}
@media only screen and (max-width:991px) {
         h1 {
    font-size: 48px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 22px;
}
        .p-btn {
            padding: 10px 20px;
        }
    .header-wrapper .navi {
        position: fixed;
        text-align: center;
        right: -330px;
        top: 0;
        display: block;
        height: 100%;
        width: 330px;
        transition: all 0.2s linear;
        background: #ffffff;
        padding: 60px 0;
        z-index: 2;
        overflow: auto;
        margin: 0;
        overflow-x: hidden;
    }
    .navigation {
        padding-top: 40px;
    }
    .navigation ul > li {
    padding: 0 20px;
}
    .header-wrapper .navigation  ul >li >a {
        font-size: 16px;
        padding: 20px 0;
        display: inline-block;
    }
    .header-wrapper .navigation ul {
        flex-direction: column;
    }
    .menu-open .navi {
        right: 0;
        position: fixed;
    }
    .menu-open .main-wrapper {
        left: 0;
    }
    .menu-open:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        background: #000;
        opacity: 0.5;
    }
    .humburger {
        position: relative;
        display: block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        z-index: 4;
        margin: 0 35px;
    }
    .arrow {
        display: block;
        width: 100%;
        height: 3px;
        background: #000000;
        transition: all 0.2s linear;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        border-radius: 4px;
    }
    .arrow:before {
        content: "";
        position: absolute;
        top: -12px;
        width: 100%;
        height: 3px;
        background: #000000;
        transition: transform 0.2s linear, top 0.2s linear 0.2s;
        transform: rotate(0deg);
        left: 0px;
        border-radius: 4px;
    }
    .arrow:after {
        content: "";
        position: absolute;
        top: 12px;
        width: 100%;
        height: 3px;
        background: #000000;
        transition: transform 0.2s linear, top 0.2s linear 0.2s;
        transform: rotate(0deg);
        left: 0px;
        border-radius: 4px;
    }
    .menu-open .arrow:before,
    .menu-open .arrow:after {
        top: 0;
        transition: all 0.2s linear, transform 0.2s linear 0.2s;
        transition: all 0.2s linear, transform 0.2s linear 0.2s;
    }
    .menu-open .arrow:before {
        transform: rotate(45deg);
    }
    .menu-open .arrow:after {
        transform: rotate(-45deg);
    }
    .menu-open .arrow {
        background: transparent;
        transition: all 0.2s linear;
    }
    .creator-content h2.section-title {
     text-align: center; 
}
.feature-card {
    max-width: 33.33%;
    margin:0  10px;
    }
.product-slider.slick-initialized.slick-slider {
    max-width: 100%;
     padding: 0 15px;
}
    .header-wrapper .logo {
     justify-content: flex-start; 
 }

 .creator-content .section-title:after {
    left: 50%;
    transform: translateX(-50%);
}
 .creator-wrapper {
    padding-top: 10px;
    flex-direction: column;
}
.creator-content {
    max-width: 100%;
}
.content-wrapper {
    position: relative;
    padding-bottom: 20px;
    text-align: center;
}
.product-card {
    padding: 20px;
}
.product-slider .slick-arrow {
    position: absolute;
    bottom: 50%;
    transform: translateY(-50%);
     font-size: 0; 
    width: 30px;
    height: 30px;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
}
.product-slider button.slick-prev {
    left: 0;
}
.product-slider button.slick-prev:before {
    content: '';
    height: 5px;
    width: 5px;
    border: solid #f3a078;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate( 135deg );
    -webkit-transform: rotate( 135deg);
}
.product-slider button.slick-next{
    right: 0;
   
}
.product-slider button.slick-next:before {
    content: '';
    height: 5px;
    width: 5px;
    border: solid #f3a078;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.fav-card {
    flex-direction: column;
    padding: 20px;
}
.fav-card .title-block h3 { 
    font-size: 32px;
}
.fav-card .title-block h4 {
    margin-left: 20px;
    font-size: 22px;
}
.fav-card .title-block:after {
    width: 100%;
    height: calc(100% - 20px);
    top: 20px;
    right: 10px;
}
section.bestseller {
    padding: 40px 0;
}
.options .p-btn {
    padding: 10px 10px;
}
section.pen {
    padding: 40px 0;
}
.pen-wrapper {
    flex-direction: column;
}
.pen-img {
    max-width: 100%;
    padding-bottom: 20px;
}
.pen-content {
    max-width: 100%;
}
.sign-up-card {
     max-width: 100%; 
}
p.quote {
     max-width: 100%; 
     margin-bottom: 20px;
}
section.fan {
    padding: 30px 0;
}
.testimonial-wrapper {
    margin: 20px 0;
}

.vip-list-content-wrapper {
    flex-direction: column;
}
.vip-list-content {
     max-width: 100%; 
    margin-bottom: 30px;
}
.brand-logos-wrapper {
    padding: 40px 0;
}
div#logo {
    display: flex;
    order: 1;
    justify-content: center;        
}
div#form {
    order: 0;
}
section.vip-list {
    padding: 40px 0;
}
.site-footer-wrapper {
    flex-direction: column;
}
.footer-content-block {
    padding: 0;
     max-width: 100%; 
     border-bottom: 1px solid rgba(137,137,137,.7);
}
.footer-content-block .has-child {
    display: none;
}
.footer-content-block h5.footer-title:after {
    position: absolute;
    content: '';
    right: 10px;
    border: solid #f3a078;
    border-width: 0 3px 3px 0;
    display: inline-block;
    top: 50%;
    padding: 4px;
    margin-left: 10px;
    transform: rotate(45deg) translateX(-50%);
    -webkit-transform: rotate(45deg) translateX(-50%);
    transition: .25s ease-in-out all;
    -webkit-transition: .25s ease-in-out all;
    -moz-transition: .25s ease-in-out all;
    -ms-transition: .25s ease-in-out all;
    -o-transition: .25s ease-in-out all;
}
.footer-content-block.child-open h5.footer-title:after {
    position: absolute;
    content: '';
    right: 10px;
    border: solid #f3a078;
    border-width: 0 0px 3px 0;
    display: inline-block;
    padding: 4px;
    top: 50%;
    margin-left: 10px;
    transform: rotate( 
180deg
) translateX(-50%);
    -webkit-transform: rotate( 
180deg
) translateX(-50%);
    transition: .25s ease-in-out all;
    -webkit-transition: .25s ease-in-out all;
    -moz-transition: .25s ease-in-out all;
    -ms-transition: .25s ease-in-out all;
    -o-transition: .25s ease-in-out all;
}
.credit {
    flex-direction: column;
    margin-top: 30px;
}
.copy-right {
    order: 1;
    text-align: center;
}
footer.site-footer {
    padding: 40px 0;
}
}

@media only screen and (max-width:767px) {
    h1 {
    font-size: 42px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 20px;
}
h4{
    font-size: 18px;
}
    h5 {
    font-size: 16px;
}
.p-btn {
    padding: 10px 10px;
}
    .header-wrapper .logo img {
    max-width: 150px;
}
.header-wrapper .cta-icon {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.cta-icon svg.cta-svg {
    width: 24px;
    height: 24px;
}
.humburger {
    margin: 0 15px;
}
.content {
    margin: 0 auto ;
}
.content a.p-btn {
    margin-top: 10px;
}

.card-content > span {
    font-size: 12px;
}
.card-content > p {
    font-size: 12px;
}
section.creator {
    padding: 20px 0;
}
.product-card {
    padding: 15px;
}
section.fav {
    padding: 20px 0;
}
.fav-wrapper {
    display:block;
}
.fav-card {
     flex-direction: row; 
    padding: 10px;
    margin-bottom: 15px;
}
.fav-card .title-block {
    margin: 10px 0;
}
.fav-card .title-block h3 {
    font-size: 28px;
}
.fav-card .title-block:after {
    height: calc(100% - 15px);
    top: 15px;
    right: 5px;
}
.fav-content p {
    font-size: 18px;
    margin: 15px 0;
}
section.collection {
    padding: 20px 0;
}
.category-card {
    max-width: 50%;
}
section.bestseller {
    padding: 20px 0;
}
section.pen {
    padding: 20px 0;
}
.sign-up-content-content {
     max-width: 100%; 
        padding: 10px 20px 20px;
}
section.fan {
    padding: 20px 0;
}
.testimonial-wrapper {
    margin: 10px 0;
}
section.vip-list {
    padding: 20px 0;
}
footer.site-footer {
    padding: 20px 0;
}
.brand-logos-wrapper {
    padding: 20px 0;
}
.logo-img {
    padding: 10px 15px;
    max-width: 25%;
}
}

@media only screen and (max-width:575px) {
    h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
.cta-icon > ul > li {
    padding: 0 10px;
}
.humburger {
    margin: 0 5px 0 5px;
}
.card-content {
    margin-top: 10px;
}
.fav-card .title-block h3 {
    font-size: 24px;
}
.fav-content p {
    font-size: 16px;
    margin: 10px 0;
}
.fav-img:after {
    left: calc(100% - 65px);
}
.product-slider2 {
    margin: 30px 0;
}
}
@media only screen and (max-width:345px){
    .site-header{
        padding: 10px 0;
    }
.site-header .header-wrapper {
    justify-content: space-between;
}
.header-wrapper .cta-icon {
    justify-content: center;
    order: 2;
    margin-top: 10px;
}
.humburger {
        order: 1;
        margin: 0;
}
}
