
@font-face {
  font-family:Avenir_Next;
  src:url(../fonts/Avenir_Next_Font.ttf);
  font-style:normal;
  font-weight: 400;
}
@font-face {
  font-family:Archer;
  src:url(../fonts/Archer.otf);
  font-style:normal;
  font-weight: 350;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    box-sizing: border-box;
}
input,
select,
textarea,
button {
	font-family: 'Avenir_Next', sans-serif;
    outline: none;
    border: none;
}
body {
    font-family: 'Avenir_Next', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffffff;
    color: #222222;
}
img {
    display:block;
    height: auto;
    max-width: 100%
}
ul {
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:'Archer', sans-serif;;
    font-weight: 350;
	letter-spacing:1px;
}
h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}
p {
	font-size:18px;
    margin-bottom: 20px;
    line-height: 1.9;
}
a {
    color: #000000;
    transition: .25s ease-in-out all;
    -webkit-transition: .25s ease-in-out all;
    -moz-transition: .25s ease-in-out all;
    -ms-transition: .25s ease-in-out all;
    -o-transition: .25s ease-in-out all;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #000000;
    text-decoration: none;
}
/*button*/
.p-btn{
	padding:15px;
	background-color:#ad8355;
	font-weight:400;
	color:#ffffff;
	font-size:18px;
	transition: 0.3s;
	display: inline-block;
	text-align: center;
	min-width:230px;
	text-transform:uppercase;
	letter-spacing: 1px;
	cursor:pointer;
}
.p-btn:hover{
	color:#000;
	background-color:#ffffff;
}
.read_link{
	color:#ad8355	;
	font-weight:400;
	text-transform:uppercase;
	position:relative;
	padding-right:25px;
}
a.read_link:after {
  position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ad8355;
    right: -100%;
    top: 50%;
    transform: translateY(-50%);
}
.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}
.title-block {
   text-align: center;
   margin: 0 auto 20px;
}
.section-title{
    text-transform:uppercase;
    position: relative;
    padding: 0 0 15px;
    letter-spacing: 0;
    color: #222222;
}


/*main-css*/

.announcment-bar{
	background-color:#ad8355;
	color:#fff;
	font-size:16px;
	padding:10px 0;
}
.announcment{
	max-width:970px;
	margin-right:25px;
	width:100%;
}
.contact{
	max-width:400px;
}
span.contact a {
    color: #fff;
    padding-left: 30px;
	position:relative;
	display:inline-block;
	margin:0 10px;
}
span.contact a.email {
	font-weight:normal;
    position: relative;
}
span.contact a.email:before {
    left: 0;
    top: 6px;
    position: absolute;
    content: '';
    background-image:url(../images/email.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
span.contact a.number {
	font-weight:normal;
    position: relative;
	font-weight:600;
}
span.contact a.number:before {
    position: absolute;
    content: '';
	left: 0;
    top: 3px;
	background-image:url(../images/phone-call.png);
	background-repeat:no-repeat;
  	width: 100%;
    height: 100%;
}
header{
	background-color:#fff;	
}
/*header*/
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
	position:relative;
	min-height:100px;	
}
nav.navigation {
    width: 100%;
}
nav.navigation ul li {
    float: left;
	padding:0 25px;
}
nav.navigation ul li > a {
	font-size:15px;
}
nav.navigation ul li:nth-child(n+5) {
    float: right;
}
.cta-btn ul {
    display: flex;
}
.cta-btn li {
    padding:0 10px;
	display:inline-block;
}
.cta-btn ul li svg {
    height:28px;
	width:28px;
}
.cta-btn ul li svg:hover{	
	fill:#f44e74;
}
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 20px;
}
section.banner{
	position:relative;	
}
.slide-wrapper{
	position:relative;	
}
.slide-item {
    min-height: 100vh;
    height: 100%;
	display: flex !important;
	align-items: center;
	justify-content:center;
	text-align:center;
    background-size: cover;
    background-position: center;
	position:relative;
}
.slide-item:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 / 30%);
	pointer-events:none;
}
.slide-item .slide-wrapper .slider-header-block {
    max-width: 78%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
	position:relative;
}
.slide-wrapper .slider-header-block h1 {
    margin-bottom: 25px;
	text-transform: uppercase;
}
.slide button.slick-prev {
    left: 0;
}
.slide .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    height: 52px;
    width: 54px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
}
.slide button.slick-prev:before {
    content: '';
    height: 52px;
    width: 54px;
    background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:center;
    display: inline-block;
    padding: 3px;
    transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
}
.slide button.slick-next.slick-arrow {
    right: 0;
}
 .slide button.slick-next:before {
    content: '';
    height: 52px;
    width: 54px;
    background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:center;
    display: inline-block;
    padding: 3px;
   
}
.best-sell{
	padding:75px 0;
}
.feature-card {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	margin-top:50px;
}
.card {
    text-align: center;
}
 .card .product-detail{
	padding:12px 10px;
}
.product-detail p.flower-title {
    margin-bottom: 5px;
}
.product-detail span.price {
    color: #f44e74;
	position: relative;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.price-holder {
    position: relative;
    display: block;
}
.card:hover .price {
    opacity: 0;
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    transform: translateX(60px);
}
a.act-btn {
    position: absolute;
    left: 50%;
    bottom: 7px;
    text-transform: none;
    letter-spacing: 0;
    line-height: 15px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #afafaf;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
.card:hover .act-btn {
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.act-btn:hover{color:#f44e74;}
.events{
	padding:95px 0; 
}
.events .container {
    max-width: 1200px;
}
.event-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event-img {
    max-width: 50%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
}
.event-img:after {
   position: absolute;
    content: '';
    background-image: url(../images/square.png);
    width: 200px;
    height: 195px;
    bottom: 60px;
    left: 60px;
    z-index: -1;
}
.event-img:before {
   position: absolute;
    content: '';
    background-image: url(../images/square.png);
    width: 200px;
    height: 195px;
    top: 60px;
    right: 60px;
    z-index: -1;
}
.event-img .event-img-1 {
    grid-row: 1;
    grid-column: 1 / span 7;
}
.event-img .event-img-2 {
    grid-column: 5 / -1;
    grid-row: 1;
    padding-top: 40.46%;
}
.event-content{
	max-width:50%;	
	padding-left:60px;
}
.event-content h4 {
    padding-bottom: 15px;
    color: #f44e74;
}
.product-slider {
    padding: 0 0 40px;;
}
.product-slider-detail {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.link-container {
    max-width: 960px;
    margin: 0 auto;
}
.link-container ul {
    display: flex;
    align-items: center;
	justify-content:center;
}
.link-container ul li{
    color:#bdbdbd;
	cursor:pointer;
	padding: 0 35px;
	text-align:center;
	font-size: 24px;
    text-transform: uppercase;
    font-family: 'Archer';
}
.slider-container {
	margin:0 15px;
	max-width:58%;
	width:100%;
	position:relative;
}
.tab-link.active-link{
	position:relative;
	color:#ad8355;
		
}
.active-link.tab-link:after{
	position: absolute;
    content: '';
    background-image: url(../images/active-link.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 41px;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
	
}
.product-feature-slider{display:none;}
.product-feature-slider.active_slide{display:block;}
.product-feature-slider-main {
	max-width:960px;
    margin:40px auto 0;
	
}
.product-feature-slider .slick-slide {
    margin: 0 15px;
}
.product-feature-slider .slick-list {
    margin: 0 -15px;
}
.slider-container button.slick-prev {
    left: 0;
}
.slider-container .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
}
.slider-container button.slick-prev:before {
    content: '';
    height: 40px;
    width: 40px;
    background-image:url(../images/arrow-2.png);
	background-repeat:no-repeat;
	background-position:center;
    display: inline-block;
    padding: 3px;
    transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
}
.slider-container button.slick-next.slick-arrow {
    right: 0;
}
.slider-container button.slick-next:before {
    content: '';
    height: 40px;
    width: 40px;
    background-image:url(../images/arrow-2.png);
	background-repeat:no-repeat;
	background-position:center;
    display: inline-block;
    padding: 3px;
   
}
.slide-side-img-container{
	padding:0 15px;
	position:relative;
}
.slide-side-img-container img{
	object-fit: cover;
    display: none;
    width: 100%;
}
.slide-side-img-container img.active_img{display:block;}

.slide-side-img {
	position:relative;
    max-width: 39%;
    width: 100%;
}
.side-img-content {
    position: absolute;
    padding: 30px;
    background-color: #fff;
    text-align: center;
    bottom: 40px;
    left: 40px;
    right: 40px;
    text-transform: uppercase;
	z-index:1;
}
.side-img-content .p-btn{
	background-color:#fff;
	color:#ad8355;	
}
.side-img-content span{
	display: block;
    position: relative;
}
.side-img-content span:after {
    position: absolute;
    content: '';
    width: calc(100% + 60px);
    height: 2px;
    background-color: #ad8355;
    left: -30px;
    top: 50%;
	transform:translateY(-50%);
    z-index: -1;
}
section.delivery_feature {
	padding:95px 0;
	position:relative
}

section.delivery_feature:after {
    position: absolute;
    content: '';
    background-image: url(../images/after-flower.png);
    background-position: top right;
    background-repeat: no-repeat;
    top: -15%;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}
.delivery_feature-wrapper {
    max-width: 1110px;
    margin: 0 auto;
}
.delivery-feature-list {
    margin-top: 60px;
}
.delivery-feature-list:after {
    content: '';
    display: table;
    clear: both;
}
.col-4 {
	 float:left; 
	 max-width:33.33%;
	  position:relative;
}
.delivery-feature-list .col-4:nth-child(2) {
	float:right;
}
.delivery-feature-list .col-4:nth-child(1) li {
	text-align:right;
    flex-direction: row-reverse;
}
.delivery-feature-list .col-4 ul li {
    display: flex;
    align-items: center;
    font-size: 26px;
    padding: 0 18px;
    margin: 30px 0;
	margin-top: 82px;
}
.delivery-feature-list .col-4 ul li:nth-child(1) {
    margin-top: 30px;
}
.delivery-feature-list .col-4 ul li span {
    padding: 0 30px;
}
.delivery-feature-list .col-4 ul li span img {
    max-width: 70px;
}
.delivery-feature-img img {
	margin:0 auto;
}
.delivery-feature-img a.p-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}
section.toy-product-slider {
	padding-bottom:95px;
	
}
section.toy-product-slider .product-slider-detail {
   flex-flow:row-reverse;
}
section.testimonials {
    padding: 95px 0 50px;
    position: relative;
}
section.testimonials:before {
    content:'';
	position:absolute;
	background-image:url(../images/comma.png);
	background-repeat:no-repeat;
	background-position:center;
	width:40px;
	height:40px;
	top:30px;
	left:50%;
	transform:translateX(-50%);
}
.testimonial-container {
    max-width: 970px;
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;
}
.testimonial-container span.author {
    display: inline-block;
    color: #f44e74;
}
.testimonial-slider button.slick-prev {
    left: 0;
}
.testimonial-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
}
.testimonial-slider button.slick-prev:before {
    content: '';
    height: 40px;
    width: 40px;
    background-image:url(../images/arrow-2.png);
	background-repeat:no-repeat;
	background-position:center;
    display: inline-block;
    padding: 3px;
    transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
}
.testimonial-slider button.slick-next.slick-arrow {
    right: 0;
}
.testimonial-slider button.slick-next:before {
    content: '';
    height: 40px;
    width: 40px;
    background-image:url(../images/arrow-2.png);
	background-repeat:no-repeat;
	background-position:center;
    display: inline-block;
    padding: 3px;
   
}

.testimonials-wrapper .flower-bookey {
    margin-top: -55px;
}

.testimonials-wrapper .flower-bookey img{
	margin: 0 auto;
}
.insta-post{}

.insta-post .title-block a.insta-id {
	color:#bdbdbd;
	fill:#bdbdbd;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	 font-size: 24px;
	 letter-spacing:1.44px;
}
.insta-post .title-block a.insta-id:hover{
	background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	fill: url(#my-cool-gradient) #447799;
	
	
}
.insta-post .title-block a.insta-id .svg-icon{
	width:25px;
	margin-right:10px;
}
.insta-post-wrapper{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.insta-post-wrapper .post a{
	position:relative;
}
.insta-post-wrapper .post>a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(../images/instagram.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .3s linear;
    transform: scale(.2);
    opacity: 0;
    visibility: hidden;
}
.insta-post-wrapper .post:hover >a:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
section.newsletter {
	padding:50px 0 75px;
	
}
.newsletter-wrapper {
	
}
.newsletter-wrapper .section-title {
    padding: 0 0 10px;
}
.newsletter-wrapper .sign-up {
    max-width: 770px;
    margin: 0 auto;
}
.newsletter-wrapper .sign-up .field-wrapper {
    display: flex;
}
.sign-up .field-wrapper input.email-field {
    flex: 1;
    max-width: 100%;
    border: 2px solid #bdbdbd;
	border-right:0;
    padding: 0 0 0 30px;
}

.sign-up .field-wrapper .p-btn:hover{
	color:#fff;
	background-color:#f44e74;
}
footer.site-footer{
	padding:60px 0 0; 
	background-color:#3a3a3a;
}
.footer-wrapper {
	
}
.footer-wrapper::after {
    content: "";
    clear: both;
    display: table;
}
ul.feature-block {
    display: flex;
    align-items: center;
	margin-bottom:30px;
}
ul.feature-block li {
    max-width: 33.33%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
	font-family: 'Archer';
    letter-spacing: 1px;
    font-size: 22px;
    padding: 20px;
    border: 1px solid #fff;
    margin: 0 15px;
}
ul.feature-block li img {
    margin-right: 30px;
}
.footer-block {
    float: left;
    max-width: 17.1%;
    width: 100%;
    margin: 0 15px 25px;
}
h5.footer-block-title {
    color: #bf8e58;
    margin-bottom: 25px;
	font-family: 'Avenir_Next';
}
.footer-block ul li > a {
	font-size: 16px;
    color: #fff;
    line-height: 2.3;
}
.footer-block ul li > a:hover{
	color:#f44e74
}

.footer-block ~ .footer-block-title {
    text-align: center;
	position:relative;
	clear:both;
}
.footer-block ~ .footer-block-title:after  {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: 50%;
	left:0;
	z-index:-1;
   
}

.media-link {
	font-size:16px;
    display: flex;
	color:#fff;
    align-items: center;
    justify-content: space-between;
	margin-top:25px;
    padding: 25px 0;
    border-top: 1px solid #fff;
}
.social ul {
    display: flex;
    align-items: center;
}
.social ul li {
    padding: 0 10px;
}
.social ul li .svg-icon {
    width: 25px;
    fill: #fff;
}
.social ul li:hover .svg-icon {
    fill: #f44e74;
}

@media only screen and (max-width:1366px) {
.slide-item .slide-wrapper .slider-header-block {
    max-width: 85%;
}
.link-container ul li{
	padding: 0 20px;
}

}

@media only screen and (max-width:1199px) {
.announcment {
	max-width:100%;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.contact {
    max-width: 100%;
    width: 100%;
    display: block;
    text-align: center;
}
nav.navigation ul li {
    padding: 0 15px;
}
.cta-btn ul li {
    padding: 0 5px;
}
.link-container ul li {
    font-size: 20px;
}
.card .product-detail {
    padding: 12px 0px;
}		
ul.feature-block li {
    padding: 20px 10px;
	font-size: 16px;
}


@media only screen and (max-width:1024px) {
	/*ipad landscap view*/	
	
.humburger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 4;
}
.navigation {
        position: fixed;
        text-align: center;
        left: -330px;
        top: 0;
        height: 100%;
        width: 330px !important;
        transition: all 0.2s linear;
        background: #ffffff;
        padding: 60px 0;
        z-index: 2;
        overflow: auto;
        margin: 0;
        overflow-x: hidden;
}
 .navigation>ul>li>a {
        font-size: 16px;
        padding: 20px 0;
        display: inline-block;
}
.navigation>ul {
		padding-top:100px;
        display: inline-block;
}
nav.navigation ul li:nth-child(n) {
    float: none;
}
.menu-open .navigation {
        left: 0;
        position: fixed;
}
.menu-open .main-wrapper {
        left: 0;
}
.menu-open:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        background: #000;
        opacity: 0.5;
}
.humburger {
        position: relative;
        display: block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        z-index: 4;
}
.arrow {
        display: block;
        width: 100%;
        height: 3px;
        background: #000000;
        transition: all 0.2s linear;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        border-radius: 4px;
}
.arrow:before {
        content: "";
        position: absolute;
        top: -12px;
        width: 100%;
        height: 3px;
        background: #000000;
        transition: transform 0.2s linear, top 0.2s linear 0.2s;
        transform: rotate(0deg);
        left: 0px;
        border-radius: 4px;
}
.arrow:after {
        content: "";
        position: absolute;
        top: 12px;
        width: 100%;
        height: 3px;
        background: #000000;
        transition: transform 0.2s linear, top 0.2s linear 0.2s;
        transform: rotate(0deg);
        left: 0px;
        border-radius: 4px;
}
.menu-open .arrow:before,
.menu-open .arrow:after {
        top: 0;
        transition: all 0.2s linear, transform 0.2s linear 0.2s;
        transition: all 0.2s linear, transform 0.2s linear 0.2s;
}
.menu-open .arrow:before {
        transform: rotate(45deg);
}
.menu-open .arrow:after {
        transform: rotate(-45deg);
}
.menu-open .arrow {
        background: transparent;
        transition: all 0.2s linear;
}
.slide-item .slide-wrapper .slider-header-block {
    max-width: 85%;
}
.product-slider-detail {
    flex-direction: column-reverse;
}
.slide-side-img {
    max-width: 100%;
    margin-bottom: 70px;
}
.slider-container {
    max-width: 100%;
    position: relative;
	margin:0;
}
.product-feature-slider .slick-list {
     margin: 0; 
}
.col-4 {
    max-width: 50%;
}
.delivery-feature-list .col-4 ul li {
    padding: 0;
    margin: 50px 0;
}
.delivery-feature-list .col-4 ul li span {
    padding: 0 15px;
}
.col-4.delivery-feature-img {
    clear: both;
    display: inline-block;
	max-width:100%;
	width: 100%;
    text-align: center;
}
.col-4.delivery-feature-img img{display:none;}
.delivery-feature-img a.p-btn {
    position: relative;
     left: 0; 
     bottom:0; 
     transform: translateX(0); 
}
section.toy-product-slider .product-slider-detail {
    flex-flow: column-reverse;
}
.footer-block {
    margin: 0 10px 25px;
}

@media only screen and (max-width:990px) {
	/*ipad portrait view till the 768px*/

		
}
@media only screen and (max-width:767px) {
body {
    font-size: 14px;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 16px;
}
p {
    font-size: 14px;
}
.p-btn {
    padding: 10px;
     font-size: 14px;
	 min-width: 140px;
}
.slide .slick-arrow {
		display:none;
}
.feature-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);	
}
.link-container ul li {
    padding: 0px 18px;
}
.event-wrapper {
    flex-direction: column;
}
.event-img{
	max-width: 60%;
	margin-bottom: 30px;
}
.event-content {
    max-width: 100%;
	padding:0;
}
.delivery-feature-list .col-4 ul li {
      font-size: 18px;
}
.insta-post-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
}
.insta-post .title-block a.insta-id {
    font-size: 18px;
}
.newsletter-wrapper .sign-up {
    max-width: 380px;
}
.social ul li {
    padding: 0 5px;
}
.footer-block ul li > a {
    font-size: 12px;
}
.media-link {
    font-size: 12px;
}
@media only screen and (max-width:479px) {
	/*ipad portrait view till the 768px*/	
}
